/* 
  Write here your CSS rules for HackYourRepo!
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background: #3f51b5;
  color: #ffffff;
  width: calc(100% - 500px);
  margin: 0 auto;
}
#dropDown {
  border: 1px solid #3f51b5;
  outline-color: #3f51b5;
  margin-left: 1.5rem;
  width: 10rem;
  font-size: inherit;
}
#container {
  width: calc(100% - 500px);
  margin: 0 auto;
}
.sections {
  border-radius: 0.1875rem;
  padding: 1rem;
  border: 0.3125rem inset rgba(214, 205, 199, 0.13);
}

.tables {
  border-collapse: separate;
  border-spacing: 0.125rem 0.625rem;
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  #header,
  #container {
    width: 100%;
    font-size: 0.75rem;
    margin: 0;
  }
  .sections {
    /* width: 80%; */
    padding: 0.5rem;
  }
  .tables {
    border-collapse: separate;
    border-spacing: 0 0.325rem;
  }
  .tables td {
    font-size: 0.625rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  #header,
  #container {
    width: 100%;
    font-size: 0.75rem;
    margin: 0;
  }
  .tables td {
    font-size: 0.625rem;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  body {
    overflow-x: hidden;
  }
  #header,
  #container {
    width: calc(100% - 200px);
    margin: 0 auto;
    font-size: 0.75rem;
  }
}
